{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<h1 class="text-center">Customer Orders</h1>
                    <h3 class="text-center">Year: {{selected_year}}</h3>
                    <form action="/customer_orders" method="post" name="yearlist">
						<select id="yearselect" name="year" class="cursor-pointer">
							<option hidden disabled selected value>-- select year --</option>
							{% for year in year_list %}
                            	<option>{{ year }}</option>
                            {% endfor %}
						</select>
						&nbsp;&nbsp;
						<span>
							<input class="btn btn-primary cursor-pointer" id="yearsubmit" type="submit" value="Submit">
						</span>
					<br><br>
                    </form>
                    <div>
                        <img style="margin-left: 140px" src="{{upload_folder}}/customer_orders_{{selected_year}}.png"  
                        height="500" width="500">
                    </div>
                </div>               
                
            </div>
		</div>
    </div>
    <script>
		$(document).ready(function(){
			$("#yearsubmit").click(function(){
				$("#yearselect").text();
			});
		});
	</script>
{% endblock %}