{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<h1 class="text-center">Overall Statistics</h1>
					<h3 class="text-center">(Year: {{current_year}})</h3>
					
					<form action="/" method="post" name="yearlist">
						<select id="yearselect" name="year" class="cursor-pointer">
							<option hidden disabled selected value>-- select year --</option>
							{% for year in year_list %}
                            	<option>{{ year }}</option>
                            {% endfor %}
						</select>
						<br><br>
						<input class="btn btn-primary cursor-pointer" id="yearsubmit" type="submit" value="Submit">
						<br><br>
					</form>

					<div class="table">
						
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Time duration
							</div>
							<div class="cell">
								Apr, {{ current_year }} - Mar, {{ (current_year|int) +1 }} <br>
								(Last invoice date: {{last_invoice_date}})
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" target="_blank"></a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Number of territories
							</div>
							<div class="cell">
								{{ results[0] }} 
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" target="_blank"></a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Number of customers
							</div>
							<div class="cell">
								{{ results[1] }} 
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" 
								onclick="window.open('/cust_num_{{current_year}}.png','newwindow', 
                         		'width=700,height=550'); 
								  return false;">
								  <span class="glyphicon glyphicon-stats"></span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Total sales
							</div>
							<div class="cell"> 
								{{ results[2] }}
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" 
								onclick="window.open('/sale_{{current_year}}.png','newwindow', 
                         		'width=700,height=550'); 
								  return false;">
								  <span class="glyphicon glyphicon-stats"></span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Average number of invoices/month
							</div>
							<div class="cell">
								{{ results[3] }} 
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" 
								onclick="window.open('/avg_invoice_num_{{current_year}}.png','newwindow', 
                         		'width=700,height=550'); 
								  return false;">
								  <span class="glyphicon glyphicon-stats"></span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Average invoices value
							</div>
							<div class="cell">
								{{ results[4] }} 
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" 
								onclick="window.open('/avg_invoice_val_{{current_year}}.png','newwindow', 
                         		'width=700,height=550'); 
								  return false;">
								  <span class="glyphicon glyphicon-stats"></span>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="cell" style="font-family: Poppins-Bold;">
								Last week percent sale
							</div>
							<div class="cell">
								{{ results[5] }}
							</div>
							<div class="cell">
								<a href="" style="font-size:12px;" 
								onclick="window.open('/skew_{{current_year}}.png','newwindow', 
                         		'width=700,height=550'); 
								  return false;">
								  <span class="glyphicon glyphicon-stats"></span>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$("#yearsubmit").click(function(){
				$("#yearselect").text();
			});
		});
	</script>
{% endblock %}