{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
                    <h1 class="text-center">Most Steady Sales </h1>
                    <h4 class="text-center">Year: {{current_year}}</h4>
                    <br>
                    <form action="/most_regular_invoices" method="post" name="yearlist">
						<select id="yearselect" name="year" class="cursor-pointer">
							<option hidden disabled selected value>-- select year --</option>
                            {% for year in year_list %}
                            <option>{{ year }}</option>
                            {% endfor %}
						</select> &nbsp;&nbsp;
						<span>
                            <input class="btn btn-primary cursor-pointer" id="yearsubmit" type="submit" value="Submit">
                        </span>
						<br><br>
                    </form>
                    
					<div class="table">
						<div class="row header">
                            <div class="cell" style="font-size: 16px;">Lowest Variation<br>
                                in Avg. Number of<br> Invoices/month</div>
                                <div class="cell" style="font-size: 16px;">Territory-wise</div>
                                <div class="cell" style="font-size: 16px;">Customer-wise</div>
                                <div class="cell" style="font-size: 16px;">SKU-wise</div>
                        </div>

                        {% for rank in rank_list %}
                        <div class="row">
							<div class="cell">
                                <div style="font-family: Poppins-Bold;"> Rank {{rank}} &nbsp;&nbsp;
                                    <!-- <span class="glyphicon glyphicon-arrow-right"></span> -->
                                </div>
                            </div>
							<div class="cell">
                                <div style="font-family: Poppins-Bold;">
                                    {{ results['territory'][rank-1][0] }}</div>
                                <br><div>{{ results['territory'][rank-1][1] }}</div>
							</div>
							<div class="cell">
                                <div style="font-family: Poppins-Bold;">
                                    {{ results['customer'][rank-1][0] }}</div>
                                <br><div>{{ results['customer'][rank-1][1] }}</div>
                            </div>
                            <div class="cell">
                                <div style="font-family: Poppins-Bold;">
                                    {{ results['sku'][rank-1][0] }}</div>
                                <br><div>{{ results['sku'][rank-1][1] }}</div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
				</div>
			</div>
		</div>
    </div>
    
    <script>
		$(document).ready(function(){
			$("#yearinput").click(function(){
				$("#yearselect").text();
			});
		});
	</script>
{% endblock %}