{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<h1 class="text-center">SKU-wise Orders</h1>
                    <h4 class="text-center">Year: {{selected_year}}, SKU: {{selected_sku}} ({{selected_territory}})</h4>
                    <br>
                    <form action="/sku_wise_orders" method="post" name="yearlist">
						<select id="yearselect" name="year" class="cursor-pointer">
							<option hidden disabled selected value>-- select year --</option>
							{% for year in year_list %}
                            	<option>{{ year }}</option>
                            {% endfor %}
						</select>
                        &nbsp;&nbsp;
                        <span>
                            <select id="skuselect" name="sku" class="cursor-pointer">
                                <option hidden disabled selected value>-- select sku --</option>
                                {% for sku in sku_list %}
                                    <option>{{ sku }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        &nbsp;&nbsp;
                        <span>
                            <select id="territoryselect" name="territory" class="cursor-pointer">
                                <option hidden disabled selected value>-- select territory --</option>
                                <option>Overall</option>
                                {% for territory in territory_list %}
                                    <option>{{ territory }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        &nbsp;&nbsp;
						<span>
							<input class="btn btn-primary cursor-pointer" id="yearsubmit" type="submit" value="Submit">
						</span>
					<br><br>
                    </form>
                    <img src="{{upload_folder}}/sku_wise_orders_{{selected_sku}}_{{selected_territory}}_{{selected_year}}.png"  
                        height="500" width="770">
                
                    <br><br><br>
                    <h2 class="text-center">SKU Clustering Based on Total Sales</h2>
                    <br>
                    <div class="table">
                        <div class="row header">
                            <!-- <div class="cell" style="font-size: 16px;">Year &nbsp;&nbsp;
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </div> -->
                            <div class="cell" style="font-size: 16px;">
                                Cluster ID
                            </div>
                            <div class="cell" style="font-size: 16px;">
                                Value range
                            </div>
                            <div class="cell" style="font-size: 16px;">
                                Number of <br>
                                SKUs
                            </div>
                            <div class="cell" style="font-size: 16px;">
                                Mean value
                            </div>
                        </div> 
                        {% for cluster in cluster_list %}
                        <div class="row">
                            <div class="cell" style="font-family: Poppins-Bold;">
                                {{cluster}}
                            </div>
                            <div class="cell">
                                {{(cluster_description[cluster]['lower_limit']/10000000)|round(2)}} Cr - 
                                {{(cluster_description[cluster]['upper_limit']/10000000)|round(2)}} Cr
                            </div>
                            <div class="cell">
                                {{cluster_description[cluster]['num']}}
                            </div>
                            <div class="cell">
                                {{(cluster_description[cluster]['mean']/10000000)|round(2)}} Cr
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>               
                
            </div>
		</div>
    </div>
    <script>
		$(document).ready(function(){
			$("#yearsubmit").click(function(){
				$("#yearselect").text();
                $("#skuselect").text();
                $("#territoryselect").text();
			});
		});
	</script>
{% endblock %}