{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<h1 class="text-center">Temp</h1>
				
					<div class="table">
						<div class="row header">
							<div class="cell">Time bucket</div>
							<div class="cell">Time bucket type</div>
							<div class="cell">Total sale</div>
							<div class="cell">Avg. invoice value</div>
							<div class="cell">Avg. number of invoice/month</div>
							<div class="cell">Avg. number of lines/invoice</div>
							<div class="cell">Month end skew</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}