{% extends "layout.html" %}
{% block body %}
	<!-- Page content -->
	<div class="main">
		<div class="limiter">
			<div class="container-table100">
				<div class="wrap-table100">
					<h1 class="text-center">Overall Statistics</h1>

					<form action="/" method="post" name="radioform">
						<label class="radio">
							<input type="radio" name="rname" value="year" onClick="validateRadio()">
							<span class="radio-button-text">Year</span>
						</label>
						<label class="radio">
							<input type="radio" name="rname" value="month" onClick="validateRadio()">
							<span class="radio-button-text">Month</span>
						</label>

						<button type="submit">Get Data</button>
					</form>
				
					<div class="table">
						<div class="row header">
							<div class="cell">Time bucket</div>
							<div class="cell">Time bucket type</div>
							<div class="cell">Total sale</div>
							<div class="cell">Avg. invoice value</div>
							<div class="cell">Avg. number of invoice/month</div>
							<div class="cell">Avg. number of lines/invoice</div>
							<div class="cell">Month end skew</div>
						</div>

						{% for row in results %}
							<div class="row">
								<div class="cell" data-title="Time bucket">
									{{ row[0] }}
								</div>
								<div class="cell" data-title="Time bucket type">
									{{ row[1] }}
								</div>
								<div class="cell" data-title="Total sale">
									{{ row[2] }}
								</div>
								<div class="cell" data-title="Avg. invoice value">
									{{ row[3] }}
								</div>
								<div class="cell" data-title="Avg. number of invoice/month">
									{{ row[4] }}
								</div>
								<div class="cell" data-title="Avg. number of lines/invoice">
									{{ row[5] }}
								</div>
								<div class="cell" data-title="Month end skew">
									{{ row[6] }} %
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}